.wrapper__inner
    .wrapper__header
        h2.wrapper__title.wrapper__title--tab 
            span Noname, 
            | write three-digit number, pls)
    p.wrapper__explaining Like the 100.
    input.wrapper__input#js-sameNum(type="number", pattern="/\d{3}/", required, maxlength="3")
    p.wrapper__explaining.wrapper__explaining--answer#js-isSameNum