.wrapper__inner.active
    .wrapper__header
        h2.wrapper__title.wrapper__title--tab 
            span Noname
            |, hi! Write you birth date pls.)
    p.wrapper__explaining Can you write your date of birth in this area...?
    input.wrapper__input#js-dateOfBirth(type="date", required)
    p.wrapper__explaining.wrapper__explaining--answer#js-age