.wrapper__inner.active
    .wrapper__header
        h2.wrapper__title.wrapper__title--tab             
            span Noname
            |, this is a day increaser.)
    p.wrapper__explaining White date in this area...?
    input.wrapper__input#js-someDate(type="date", required)
    p.wrapper__explaining.wrapper__explaining--answer#js-datePlusOneDay