.wrapper__inner
    .wrapper__header
        h2.wrapper__title.wrapper__title--tab 
            span Noname
            |, pass this quiz.
    p.wrapper__explaining Wright capital of Great Britain (eng).
    input.wrapper__input#js-quest-1(type="text", required)
    p.wrapper__explaining 2 plus 2, what result.
    input.wrapper__input#js-quest-2(type="number", required)
    p.wrapper__explaining what square of 4?.
    input.wrapper__input#js-quest-3(type="number", required)
    p.wrapper__explaining.wrapper__explaining--answer#js-resQuiz
