.wrapper__inner
    .wrapper__header
        h2.wrapper__title.wrapper__title--tab 
            span Noname
            |, count your benefit of sales.
    p.wrapper__explaining Choose discount percent.
    select#js-discounts
        option 3%
        option 5%
        option 7%
    p.wrapper__explaining Write value of your sales.
    input.wrapper__input#js-valueOfSales(type="number", required)
    p.wrapper__explaining.wrapper__explaining--answer#js-resOfBenefit