.wrapper__inner
    .wrapper__header
        h2.wrapper__title.wrapper__title--tab 
            span Noname
            |, is this circle fit the square.
    p.wrapper__explaining Choose length of circles border.
    input.wrapper__input#js-lengthOfCircle(type="number", required)
    p.wrapper__explaining Choose perimetr of square.
    input.wrapper__input#js-perimOfsquare(type="number", required)
    p.wrapper__explaining.wrapper__explaining--answer#js-resIsFit