.wrapper__inner
    .wrapper__header
        h2.wrapper__title.wrapper__title--tab 
            span Noname
            |, do you want to know, is this leap year?
    p.wrapper__explaining Write the year for check.
    input.wrapper__input#js-yearForCheck(type="number", pattern="/\d{1,}/", required)
    p.wrapper__explaining.wrapper__explaining--answer#js-isLeapYear