.wrapper__inner
    .wrapper__header
        h2.wrapper__title.wrapper__title--tab 
            span Noname
            |, can you write some number from 1 to 10?
    p.wrapper__explaining In next input
    input.wrapper__input#js-exchangeNum(type="number", placeholder="1-10" required)
    p.wrapper__explaining.wrapper__explaining--answer#js-exchangeNumAnswer